In [2]:
string = input("Enter a text: ")

Enter a text:  monkadonka

In [ ]:
#Write a program to reverse a string

In [3]:
print("Reversed string is: ",string[::-1])

Reversed string is:  aknodaknom

In [4]:
#Check if a string is palindrome
if(string == string[::-1]):
    print("String is Palindrome")
else:
    print("Not a Palindrome")

Not a Palindrome

In [5]:
#Convert a string to uppercase
stringUpper = string.upper()
print("The text in Uppercase: ",stringUpper)

The text in Uppercase:  MONKADONKA

In [6]:
#Convert a string to lowercase
string_upper = input("Text in Upper case: ")
print("The string in lower case: ",string_upper.lower())

Text in Upper case:  AGDJK

The string in lower case:  agdjk

In [7]:
#Count the number of vowels in a string
count = 0
for i in "aeiouAEIOU":
    count += string.count(i)
print("The number of vowels in the text is: ",count)

The number of vowels in the text is:  4

In [8]:
#Count the number of consonants in a string
count = 0
for i in "aeiouAEIOU":
    count +=string.count(i)
count_consonants = len(string)-count
print("The number of consonants in the text: ",count_consonants)

The number of consonants in the text:  6

In [19]:
#Remove all white spaces form the string
sentence = input("Enter a sentence: ")
stripped_sentence = sentence.replace(" ","")
print("The sentence without white space is: ",stripped_sentence)

Enter a sentence:  The cat sat on the roof

The sentence without white space is:  Thecatsatontheroof

In [11]:
#Find the length of the string without the length function
count = 0
for i in string:
    count += 1

print("The length of the string is: ",count)

The length of the string is:  10

In [12]:
#Check if a string contains a specific word
word = input("enter a word you want to find in text: ")
if word in string:
    print (True)
else:
    print (False)

enter a word you want to find in text:  monka

True

In [14]:
#Replace a word in string with another word
word1 = input("enter a word you want to replace in text: ")
word2 = input("enter a word you want to replace with in text: ")
if word1 in string:
    new_string = string.replace(word1,word2)
    print("Replaced word string is: ",new_string)
else:
    print("Word not in string")

enter a word you want to replace in text:  donka
enter a word you want to replace with in text:  monka

Replaced word string is:  monkamonka

In [15]:
#Count the occurence of word in string
word1 = input("enter a word you want to count in text: ")
if word1 in string:
    print(string.count(word1))
else:
    print("Word not in string")

enter a word you want to count in text:  onk

2

In [16]:
#Find the first occurence of word in string
word1 = input("enter a word you want to find in text: ")
print("The first occurence of the word: ", string.find(word1))

enter a word you want to find in text:  onk

The first occurence of the word:  1

In [17]:
#Find the last occurence of word in string
word1 = input("enter a word you want to find in text: ")
string_reversed = string[::-1]
last_index = len(string) - string_reversed.find(word1[::-1])-len(word1)
print("The last occurence of the word in string: ",last_index)

enter a word you want to find in text:  onk

The last occurence of the word in string:  6

In [46]:
#Split a string into list of words
sentence = input("Give a sentence: ")
new_list = list(sentence.split(' '))
print("The string into list of words: ",new_list)

Give a sentence:  The cat sat on the roof

The string into list of words:  ['The', 'cat', 'sat', 'on', 'the', 'roof']

In [22]:
#Join a list of words into string
new_list2 = ['The', 'sky','is','cloudy','today']
print("The list of words: ", new_list2)
new_sentence2 = ' '.join(new_list2)
print("The sentence: ",new_sentence2)

The list of words:  ['The', 'sky', 'is', 'cloudy', 'today']
The sentence:  The sky is cloudy today

In [23]:
#Convert a string where words are separated by space to a string separated by underscore

sentence = input("Enter a sentence: ")
replaced_sentence = sentence.replace(' ','_')
print("The replace sentence with underscore: ",replaced_sentence)

Enter a sentence:  The cat was hungry

The replace sentence with underscore:  The_cat_was_hungry

In [36]:
#Check if a string starts with a specific word or phrase

word = input("Enter the word or phrase you want to check:")
sentence = input("Enter a new sentence: ")
if(word in sentence):
    if(sentence.index(word[-1]) == word.index(word[-1])):
        print("The word/phrase " + "'" + word + "'" +" occurs at beginning")
    elif(sentence.index(word[-1]) != word.index(word[-1])):
        print("The word/phrase " + "'" + word + "'" +" is in the sentnce but not at beginning")
else:
    print("The word is not in the sentence. Try again")

Enter the word or phrase you want to check: The cat
Enter a new sentence:  The cat jumped on the roof

The word/phrase 'The cat' occurs at beginning

In [35]:
#Check if a string ends with a specific word or phrase

word = input("Enter the word or phrase you want to check:")
sentence = input("Enter a new sentence: ")
if(word in sentence):
    if(sentence.rfind(word[-1]) == (len(sentence)-1)):
        print("The word/phrase " + "'" + word + "'" +" occurs at end")
    elif(sentence.rfind(word[-1]) != (len(sentence)-1)):
        print("The word/phrase " + "'" + word + "'" +" is in the sentence but not at end")
else:
    print("The word is not in the sentence. Try again")

Enter the word or phrase you want to check: the cat
Enter a new sentence:  she fed the cat

The word/phrase 'the cat' occurs at end

In [39]:
#Convert a string to title case

sentence = input("Enter a sentence in lower case: ")
sentence_titled = 
print("The sentence in title case is: ",sentence)

Enter a sentence in lower case:  peanut butter sandwich

The sentence in title case is:  Peanut Butter Sandwich

In [42]:
#Find the longest word in a string
sentence = input("Enter a sentence : ")
make_list = list(sentence.split(' '))
len_list = []
for i in make_list:
    len_list.append(len(i))

max_len = max(len_list)
index = len_list.index(max_len)
print("The longest word in the string is: ",make_list[index])

Enter a sentence :  the sky is very sunny today

The longest word in the string is:  sunny

In [43]:
#Find the shortest word in a string

sentence = input("Enter a sentence : ")
make_list = list(sentence.split(' '))
len_list = []
for i in make_list:
    len_list.append(len(i))

min_len = min(len_list)
index = len_list.index(min_len)
print("The shortest word in the string is: ",make_list[index])

Enter a sentence :  the sky is very sunny today

The shortest word in the string is:  is

In [44]:
#Reverse the order of words in a string

sentence = input("Enter a sentence : ")
make_list = list(sentence.split(' '))
new_list = make_list[::-1]
reversed_sentence = ' '.join(new_list)
print("The reversed sentence is: ", reversed_sentence)

Enter a sentence :  we will have brunch today

The reversed sentence is:  today brunch have will we

In [46]:
#check if a string is alphanumeric

string = input("Enter a text: ")
if(string.isalnum()):
    print("The string is alphanumeric")
else:
    print("The string is not alphanumeric")

Enter a text:  dksdk1234

The string is alphanumeric

In [1]:
#Extract all digits from a string

string = input("Enter a text with numbers: ")
digits_extracted = []
for i in string:
    if (int(i.isdigit())):
        digits_extracted.append(i)
digits_string = ''.join(digits_extracted)
print("The digits extracted are: ",digits_string)

Enter a text with numbers:  .hbkjy9797996kjguuyt86

The digits extracted are:  979799686

In [57]:
#Extract all alphabets from a string

import string

string_input = input("Enter a text with numbers or characters: ")
alphabets_extracted = []
alphabets = list(string.ascii_lowercase)
for i in string_input:
    if (i in alphabets):
        alphabets_extracted.append(i)
alphabet_string = ''.join(alphabets_extracted)
print("The digits extracted are: ",alphabet_string)

Enter a text with numbers or characters:  ,vgjkgiut87768yih9o87

The digits extracted are:  vgjkgiutyiho

In [60]:
#Count the number of uppercase leeters in a string

import string

string_input = input("Enter a text with numbers or characters: ")
alphabets_extracted = []
alphabets = list(string.ascii_uppercase)
for i in string_input:
    if (i in alphabets):
        alphabets_extracted.append(i)

print("The number of uppercase letters in a string : ",len(alphabets_extracted))

Enter a text with numbers or characters:  BMJ'rgjwgEGKe[ptw4kt##TGwtG

The number of uppercase letters in a string :  9

In [61]:
#Count the number of lowercase leeters in a string

import string

string_input = input("Enter a text with numbers or characters: ")
alphabets_extracted = []
alphabets = list(string.ascii_lowercase)
for i in string_input:
    if (i in alphabets):
        alphabets_extracted.append(i)

print("The number of lowercase letters in a string : ",len(alphabets_extracted))

Enter a text with numbers or characters:  V NVXJSwtq3yrqSFsroglh

The number of lowercase letters in a string :  12

In [4]:
##### Swap the case of each character in a string

input_string = input("Enter a string: ")

x = ''
for i in input_string:
    if i.islower() :
        u = i.upper()
        x +=u
    elif i.isupper():
        l=i.lower()
        x +=l
    elif i.isdigit():
        x += i
print("The swapped cases : ", x)

Enter a string:  AJDAEEitwtuwtGKSRrpout

The swapped cases :  ajdaeeITWTUWTgksrRPOUT

In [8]:
####### Remove a specific word from string

input_string = input("Enter a string: ")
input_word = input("Enter a word you want to remove from string: ")

if input_word in input_string :
    new_string=input_string.replace(input_word,'')
    print("The new string is: ", new_string)
else:
    print("The word is not in string")

Enter a string:  It is a sunny day
Enter a word you want to remove from string:  rainy

The word is not in string

In [54]:
## Check if a string is a valid email address

email1 = input("Enter your mail address: ")
email2 = input("Enter an invalid mail address: ")


def check_mail(email):
    
    username = ''
    domain_name = ''
    symbols  = "'!@#$%^&*()-_+=<,>.?/;:\"\':{[}]|\\"
    for i in range(len(email)):
        if email[i] == '@':
                for j in symbols:
                    if j not in email[:i]:
                         username = email[:i]
                    else:
                        return(email + " is Not valid mail")
                        break
                if email.count(email[i])==1:
                    if email.count(".com") == 1:
                        domain_name = email[i+1:]
                    else:
                        return(email + " is Not valid mail")
                        break
    checking_mail = username + '@' + domain_name
    if checking_mail == email:
         return(email + " is a valid mail.")
    else:
        return(email + " is Not valid mail")


print(check_mail(email1))
print(check_mail(email2))

Enter your mail address:  samysamy@bb.com
Enter an invalid mail address:  not_so_stupid@name.com

samysamy@bb.com is a valid mail.
not_so_stupid@name.com is Not valid mail

In [1]:
#####Extract username from email address of a string

email = input("Enter a mail address: ")

for i in range(len(email)):
    if email[i] == '@':
        username = email[:i]

print("The username of the mail: ",username)

Enter a mail address:  dasguptashreeja97@gmail.com

The username of the mail:  dasguptashreeja97

In [2]:
#########Extract domain name from mail address of a string

email = input("Enter a mail address: ")

for i in range(len(email)):
    if email[i] == '@':
        domain_name = email[i+1:]

print("The domain name of the mail: ",domain_name)

Enter a mail address:  dasguptashreeja97@gmail.com

The domain name of the mail:  gmail.com

In [20]:
#### Replace multiple spaces in a string with single space

string_input = input("Enter a text with multiple space: ")

new_list = list(string_input.split(' '))

new_list2 = [ i  for i in new_list if i != '']

mono_spaced_string = ' '.join(new_list2)

print("The string with single space is: ",mono_spaced_string)

Enter a text with multiple space:  cadczxjcb        kjsbscjakBCBJc  lxkchbKXc             xjkcbaJKcbxkhcbsHCis

The string with single space is:  cadczxjcb kjsbscjakBCBJc lxkchbKXc xjkcbaJKcbxkhcbsHCis

In [ ]:
### Check if a string is valid URL

In [ ]:
### extract the protocol from URL

In [23]:
## find the frequency of each character in a string

input_string = input("Enter a string: ")

count = {i:input_string.count(i) for i in input_string}

for k in count:
    print(str(k) + " occurs " + str(count[k]) + " times." )

Enter a string:  bvjbczbvzcbczbnvknsdkvnsdkcna

b occurs 5 times.
v occurs 4 times.
j occurs 1 times.
c occurs 4 times.
z occurs 3 times.
n occurs 4 times.
k occurs 3 times.
s occurs 2 times.
d occurs 2 times.
a occurs 1 times.

In [3]:
### Remove all punctuations from a string

sentence = input("Enter a sentence: ")

for i in sentence:
    if i in "!.?,.':;\"" :
        sentence = sentence.replace(i,'')
        

print("The sentence without punctuation: ", sentence)

Enter a sentence:  The kfskgs ! kfghfk. I love God !

The sentence without punctuation:  The kfskgs  kfghfk I love God

In [6]:
## Check if a string contains only digits

string = input("Enter a string: ")

new_string = ''

for i in string:
    if i.isdigit() :
        new_string += i

if new_string == string:
    print("The string contains only digit")
else:
    print("The string is alphanumeric")

Enter a string:  6876588869

The string contains only digit

In [8]:
########## Check if string contains only alphabets

string = input("Enter a string: ")

new_string = ''

for i in string:
    if i.isalpha() :
        new_string += i

if new_string == string:
    print("The string contains only aphabets")
else:
    print("The string is alphanumeric")

Enter a string:  jufuytu756758itiy,ih89

The string is alphanumeric

In [9]:
########### convert a string into list of characters

string_input = input("Enter a string: ")

string_list = [i for i in string_input]

print("The list of characters in the string is : ", string_list)

Enter a string:  bnaskjhakhfaieyiq7r3q7r73ruwejrwlr

The list of characters in the string is :  ['b', 'n', 'a', 's', 'k', 'j', 'h', 'a', 'k', 'h', 'f', 'a', 'i', 'e', 'y', 'i', 'q', '7', 'r', '3', 'q', '7', 'r', '7', '3', 'r', 'u', 'w', 'e', 'j', 'r', 'w', 'l', 'r']

In [ ]:
### Check if two strings are anagrams

In [ ]:
### Encode astring to Caeser cypher

In [ ]:
#### Decode  Caeser cypher encoded list to string

In [3]:
#### find the most frequent word in a string

sentence = input("Enter a sentence: ")

sentence_list = list(sentence.split(' '))

item_count = [sentence_list.count(i) for i in sentence_list]

max_count = max(item_count)

for i in sentence_list:
    if sentence_list.count(i) == max_count:
        max_item = i
    
print("The item that occurs maximum in the sentence: ",max_item)

Enter a sentence:  cat mat hat fat hat cat fat cat fat cat hat cat

The item that occurs maximum in the sentence:  cat

In [ ]:
#### Check if a string contains any special characters

In [17]:
###### Remove the nth word from string

string = input("Enter a new sentence: ")
n = int(input("Enter a position in string: "))

string_list = list(string.split(' '))
string_list.pop(n)

new_string = ' '.join(string_list)
print("The new string with the removed character: ",new_string)

Enter a new sentence:  dghd ffdyhf ydhhhhhhhhhff ufujutu utgugjgujjguj uyguguggyyuy     utguiuiyuy biutguiyuy
Enter a position in string:  3

The new string with the removed character:  dghd ffdyhf ydhhhhhhhhhff utgugjgujjguj uyguguggyyuy     utguiuiyuy biutguiyuy

In [3]:
######## Insert a word at nth position in a string

sentence = input("Enter a sentence: ")
word = input("Enter a word you want to insert: ")
n = int(input("Enter the position you want to insert: "))

sentence = sentence[:n] + word + sentence[n:]

print("The new sentence: ",sentence)

Enter a sentence:  The cat jumped on the roof
Enter a word you want to insert:   and the dog
Enter the position you want to insert:  7

The new sentence:  The cat and the dog jumped on the roof

In [ ]:
#### Convert a CSV string to a list of lists

In [ ]:
############ List based Practice problem

In [2]:
### Create a list with integers form 1 to 10

#using list comprehension
new_list = [i for i in range(1,11)]

print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
### Find the length of the list without using len() function

new_list = ['banana','mango','coconut',344,3488,'fhsuidh','dfojfo',37937,34898]
count = 0

for i in new_list:
    count +=1

print("The length of the given list: ",count)

The length of the given list:  9

In [4]:
#### Append an element to the end of the list
new_list = ['banana','mango','coconut',344,3488,'fhsuidh','dfojfo',37937,34898]
item = input("Enter a word: ")
new_list.append(item)
print(new_list)

Enter a word:  hddhy

['banana', 'mango', 'coconut', 344, 3488, 'fhsuidh', 'dfojfo', 37937, 34898, 'hddhy']

In [7]:
### Insert an element at specific index of list
new_list = ['banana','mango','coconut',344,3488,'fhsuidh','dfojfo',37937,34898]
n = int(input("Enter a position in the list: "))
word = input("Enter a word you want to insert:")
new_list.insert(n-1,word)
print("The list modified: ",new_list  )

Enter a position in the list:  4
Enter a word you want to insert: hfhff

The list modified:  ['banana', 'mango', 'coconut', 'hfhff', 344, 3488, 'fhsuidh', 'dfojfo', 37937, 34898]

In [12]:
### Remove an element from a list by its value

new_list = ['banana','mango','coconut',344,3488,'fhsuidh','dfojfo',37937,34898]
print("The list is: ",new_list)

word = input("Enter the item from list you want to remove: ")

if word in new_list:
    if word.isdigit():
        new_list.remove(int(word))
    elif word.isalpha():
        new_list.remove(word)
print("The sorted list is: ",new_list)

The list is:  ['banana', 'mango', 'coconut', 344, 3488, 'fhsuidh', 'dfojfo', 37937, 34898]

Enter the item from list you want to remove:  coconut

The sorted list is:  ['banana', 'mango', 344, 3488, 'fhsuidh', 'dfojfo', 37937, 34898]

In [2]:
#### Remove an element from the list by its index

new_list = ['banana','mango','coconut',344,3488,'fhsuidh','dfojfo',37937,34898]
print("The list is: ",new_list)

n = int(input("Enter the index of the item you want to remove from the list: "))

if n<=len(new_list):
     new_list.remove(new_list[n])

else:
    print("List index out of range")

print("Sorted list is: ",new_list)

The list is:  ['banana', 'mango', 'coconut', 344, 3488, 'fhsuidh', 'dfojfo', 37937, 34898]

Enter the index of the item you want to remove from the list:  5

Sorted list is:  None

In [1]:
#7) Check if an element exists in a list

new_list = ['banana','mango','coconut',344,3488,'fhsuidh','dfojfo',37937,34898]
element = input("Enter an element to check in the list: ")

if element in new_list:
    print(f"{element} is in the list")
else:
    print(f"{element} is not present in the list")

Enter an element to check in the list:  baboon

baboon is not present in the list

In [6]:
#8) Find the index of first occurence of an element in the list

new_list = ['banana','mango','coconut',344,3488,'fhsuidh','coconut','dfojfo','coconut',37937,34898]

for i in new_list:
    if new_list.count(i) >1:
        print(i,',','first_index:',new_list.index(i))
        break

coconut , first_index: 2

In [7]:
#9) Count the occurence of an element in a list.

new_list = ['banana','mango','coconut',344,3488,'fhsuidh','coconut','dfojfo','coconut',37937,34898]

element = 'coconut'

print(f"The number of occurence of {element} in the list is : {new_list.count(element)}")

The number of occurence of coconut in the list is : 3

In [8]:
#10) Reverse the order of elements in a list

new_list = ['banana','mango','coconut',344,3488,'fhsuidh','coconut','dfojfo','coconut',37937,34898]

reversed_list = []

for i in reversed(range(len(new_list))):
    reversed_list.append(new_list[i])
    
print(reversed_list)

[34898, 37937, 'coconut', 'dfojfo', 'coconut', 'fhsuidh', 3488, 344, 'coconut', 'mango', 'banana']

In [10]:
#11) Sort a list ascending order

num_list = [12,393,37,28,36,10,32,8,319,38,20]

sorted_list_ascending = sorted(num_list)

print(sorted_list_ascending)

[8, 10, 12, 20, 28, 32, 36, 37, 38, 319, 393]

In [13]:
#12) Sort a list in descending order

num_list = [12,393,37,28,36,10,32,8,319,38,20]

sorted_list_descending = sorted(num_list)[::-1]

print(sorted_list_descending)

[393, 319, 38, 37, 36, 32, 28, 20, 12, 10, 8]

In [14]:
#13) Create a list of even number from 1 to 20

even_list = []
for i in range(1,21):
    if i%2==0:
        even_list.append(i)
        
print(even_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [15]:
#14) Create a list of even number from 1 to 20

odd_list = []

for i in range(1,21):
    if i%2 != 0:
        odd_list.append(i)
        
print(odd_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [17]:
#15) Find the sum of all elements of the list

num_list = [12,393,37,28,36,10,32,8,319,38,20]

print("Sum of elementsof the list: ",sum(num_list))

Sum of elementsof the list:  933

In [18]:
#16) Find the maximum value of the list

num_list = [12,393,37,28,36,10,32,8,319,38,20]

print("The maximum element of the list: ",max(num_list))

The maximum element of the list:  393

In [19]:
#17) Find the minimum value of the list

num_list = [12,393,37,28,36,10,32,8,319,38,20]

print("The minimum element of the list: ",min(num_list))

The minimum element of the list:  8

In [20]:
#18) Create of list of square of numbers from 1 to 10

square_list = []

for i in range(1,11):
    square_list.append(i**2)
    
print("The square of number from 1 to 10: ",square_list)

The square of number from 1 to 10:  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
#19) Create a list random numbers

import random

random_list = []

for i in range(10):
    random_list.append(random.randint(1,51))
    
print(random_list)

[38, 31, 14, 9, 40, 25, 9, 25, 21, 31]

In [37]:
#20) Remove duplicates from a list:

new_list = ['banana','mango','coconut',344,3488,'fhsuidh','coconut','dfojfo','coconut',37937,34898]

sorted_list =[]

for i in new_list:
    if new_list.count(i)==1 and i not in sorted_list:
        sorted_list.append(i)
        
print(sorted_list)

['banana', 'mango', 344, 3488, 'fhsuidh', 'dfojfo', 37937, 34898]

In [38]:
#21) Find the common elements between two lists

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
common_elements = []

for i in list1:
    if i in list2:
        common_elements.append(i)

print(common_elements)

[3, 4, 5]

In [41]:
#22) Find the difference between two lists

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
diff_elements = []

for i in list1:
    if i not in list2:
        diff_elements.append(i)
        
for i in list2:
    if i not in list1:
        diff_elements.append(i)

print(diff_elements)

[1, 2, 6, 7]

In [42]:
#23) Merge two lists


list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

merged_list = list1

for i in list2:
    if i not in merged_list:
        merged_list.append(i)
        
print(merged_list)

[1, 2, 3, 4, 5, 6, 7]

In [43]:
#24) Multiply all elements in a list by 2

num_list = [12,393,37,28,36,10,32,8,319,38,20]
multiple_list = []

for i in num_list:
    multiple_list.append(i*2)
    
print(multiple_list)

[24, 786, 74, 56, 72, 20, 64, 16, 638, 76, 40]

In [44]:
#25) Filter out all even numbers from a list

original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

filtered_list = [num for num in original_list if num % 2 != 0]

print("Original List:", original_list)
print("Filtered List (without even numbers):", filtered_list)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Filtered List (without even numbers): [1, 3, 5, 7, 9]

In [45]:
#26) Convert a list of string to list of integers

string_list = ['1', '2', '3', '4', '5']

integer_list = [int(num) for num in string_list]

print("Original List (of strings):", string_list)
print("Converted List (of integers):", integer_list)

Original List (of strings): ['1', '2', '3', '4', '5']
Converted List (of integers): [1, 2, 3, 4, 5]

In [46]:
#27) Convert a list of integers to a list of string

integer_list = [1, 2, 3, 4, 5]

string_list = [str(num) for num in integer_list]

print("Original List (of integers):", integer_list)
print("Converted List (of strings):", string_list)

Original List (of integers): [1, 2, 3, 4, 5]
Converted List (of strings): ['1', '2', '3', '4', '5']

In [47]:
#28) Flatten a nested list

nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]

flattened_list = [item for sublist in nested_list for item in sublist]

print("Nested List:", nested_list)
print("Flattened List:", flattened_list)

Nested List: [[1, 2, 3], [4, 5], [6, 7, 8]]
Flattened List: [1, 2, 3, 4, 5, 6, 7, 8]

In [48]:
#29) Create a list of first 10 Fibbonacci numbers

fibo = [0,1]

for i in range(10):
    fibo.append(fibo[len(fibo)-1]+fibo[len(fibo)-2])
    
print(fibo)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [57]:
#30) Check if a list is sorted

list1 = [1, 2, 3, 4, 5]
list2 = [3, 1, 4, 1, 5, 9, 2]

def check_sorted(list_input):
    if sorted(list_input) != list_input:
         return("Not sorted")
    else:
        return("Sorted")

check_sorted(list2)

'Not sorted'

In [63]:
#31) Rotate a list to left by n positions
list1 = [1, 2, 3, 4, 5]
n = int(input(f"Enter a number less than {len(list1)}: "))

rotated_list = list1[n:][::-1]+list1[:n]
print(rotated_list)

Enter a number less than 5:  3

[5, 4, 1, 2, 3]

In [64]:
#32) Rotate a list to right by n positions

list1 = [1, 2, 3, 4, 5]
n = int(input(f"Enter a number less than {len(list1)}: "))

rotated_list = list1[n:]+list1[:n][::-1]
print(rotated_list)

Enter a number less than 5:  2

[3, 4, 5, 2, 1]

In [65]:
#33) Create a list of prime numbers upto 50

def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate a list of prime numbers up to 50
prime_numbers_up_to_50 = [num for num in range(2, 51) if is_prime(num)]

print("Prime numbers up to 50:", prime_numbers_up_to_50)

Prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [66]:
#34) Split a list into chunks of size 'n'.

def chunk_list(lst, n):
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

# Example
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = 3

result = list(chunk_list(original_list, chunk_size))

print(f"Original List: {original_list}")
print(f"Chunked List: {result}")

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9]
Chunked List: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [67]:
#35) Find the second largest number in a list

numbers = [10, 5, 8, 20, 15]

second_largest = sorted(set(numbers), reverse=True)[1]

print("The second largest number is:", second_largest)

The second largest number is: 15

In [68]:
#36) Replace every element in a list with its square

original_list = [2, 3, 4, 5, 6]

squared_list = [num**2 for num in original_list]

print("Original List:", original_list)
print("Squared List:", squared_list)

Original List: [2, 3, 4, 5, 6]
Squared List: [4, 9, 16, 25, 36]

In [69]:
#37) Convert a list to a dictionary where list elements become keys and their indices become values

original_list = ['apple', 'banana', 'orange', 'grape']

result_dict = {element: index for index, element in enumerate(original_list)}

print("Original List:", original_list)
print("Resulting Dictionary:", result_dict)

Original List: ['apple', 'banana', 'orange', 'grape']
Resulting Dictionary: {'apple': 0, 'banana': 1, 'orange': 2, 'grape': 3}

In [71]:
#38) Shuffle the elements of a list randomly

import random

original_list = [1, 2, 3, 4, 5]

random.shuffle(original_list)

print("Shuffled List:", original_list)

Shuffled List: [5, 3, 4, 2, 1]

In [72]:
#39) Create a list of first 10 factorial numbers

import math

factorial_numbers = [math.factorial(i) for i in range(10)]

print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [78]:
#40) Check if two lists have at least one element in common

list1 = [1, 2, 3, 4, 23]
list2 = [5, 6, 7, 8, 9]

def check_common(list1,list2):
    for i in list1:
        if i in list2:
            return(f"{i} is common in both the lists")
            list2.remove(i)
        else:
            continue
    return(f"None is common in both lists")

check_common(list1,list2)

'None is common in both lists'

In [79]:
#41) Remove all elements from a list

my_list = [1, 2, 3, 4, 5]

my_list.clear()

print("List after removing all elements:", my_list)

List after removing all elements: []

In [1]:
#42) Replace the negative numbers in a list with 0

num_list = [1, -2, 3, -4, 5]

new_list = [max(0,i) for i in num_list]

print(new_list)

[1, 0, 3, 0, 5]

In [3]:
#43) Convert a string to a list of words

original_string = "Hello, how are you doing today?"

word_list = list(original_string.split(' '))

print(word_list)

['Hello,', 'how', 'are', 'you', 'doing', 'today?']

In [4]:
#44) Convert a list of words to a string

word_list = ['Hello,', 'how', 'are', 'you', 'doing', 'today?']

result_string = ' '.join(word_list)

print("Resulting string:", result_string)

Resulting string: Hello, how are you doing today?

In [5]:
#45) Create a list of the first 'n' number to the power of 2

n = 5

result_list = [i ** 2 for i in range(1, n + 1)]

print("List of the first", n, "numbers to the power of 2:", result_list)

List of the first 5 numbers to the power of 2: [1, 4, 9, 16, 25]

In [11]:
#46) Find the longest string in a list of strings

word_list = ['Hello,', 'how', 'are', 'you', 'doing', 'today?']

longest_string = max(word_list,key=len)

print(f"Longest string in the list is {longest_string}")

Longest string in the list is Hello,

In [13]:
#47) Find the shortest string in a list of strings

word_list = ['Hello,', 'how', 'are', 'you', 'doing', 'today?']

shortest_string = min(word_list,key=len)

print(f"Longest string in the list is {shortest_string}")

Longest string in the list is how

In [14]:
#48) Create a list of first 'n' trisngular numbers

n = 5

# Create a list of the first 'n' triangular numbers
triangular_numbers = [sum(range(1, i + 1)) for i in range(1, n + 1)]

print("List of the first", n, "triangular numbers:", triangular_numbers)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

In [22]:
#49) Check if a list contains another list in subsequence

sequence = [1, 2, 3, 4, 5, 6, 7, 8, 9]
subsequence = [3, 4, 5]

def is_subsequence(subsequence, sequence):
    sub_len = len(subsequence)
    seq_len = len(sequence)

    # Iterate through the sequence to find the subsequence
    for i in range(seq_len - sub_len + 1):
        if sequence[i:i + sub_len] == subsequence:
            return (f"{subsequence} is a subsequence of the list {sequence}")

    # If the loop completes and no match is found
    return (f"{subsequence} is a subsequence of the {sequence}")

is_subsequence(subsequence, sequence)

'[3, 4, 5] is a subsequence of the list [1, 2, 3, 4, 5, 6, 7, 8, 9]'

In [23]:
#50) Swap two elements in the list by their indices

def swap_elements_by_indices(lst, index1, index2):
    # Check if indices are valid
    if 0 <= index1 < len(lst) and 0 <= index2 < len(lst):
        # Swap elements using a temporary variable
        temp = lst[index1]
        lst[index1] = lst[index2]
        lst[index2] = temp
        return lst
    else:
        print("Invalid indices.")
        return None

my_list = [1, 2, 3, 4, 5]
index_to_swap1 = 1
index_to_swap2 = 3

result_list = swap_elements_by_indices(my_list, index_to_swap1, index_to_swap2)

print("Original list:", my_list)
print("List after swapping elements at indices:", result_list)

Original list: [1, 4, 3, 2, 5]
List after swapping elements at indices: [1, 4, 3, 2, 5]

# Tuple based Practice problem

In [2]:
#1) Create a tuple with integers from 1 to 5

num_tuple =  tuple(range(1,6))
print(num_tuple)

(1, 2, 3, 4, 5)

In [3]:
#2) Access the third element from tuple

new_tuple = ('dog','cat',1,9,8,'monkey')
len_tuple = len(new_tuple)
index = int(input(f"Enter a index below {len_tuple}: "))

item = new_tuple[index]
print(f"The item in index {index} is: {item}")

Enter a index below 6:  3

The item in index 3 is: 9

In [5]:
#3) Find the length of tuple without using 'len()' function

new_tuple = ('dog','cat',1,9,8,'monkey')
count = 0
for i in new_tuple:
    count +=1
print(f"The tuple is: {new_tuple}")
print(f"The length of the tuple is: {count}")

The tuple is: ('dog', 'cat', 1, 9, 8, 'monkey')
The length of the tuple is: 6

In [6]:
#4) Count the occurence of an element in tuple 

new_tuple = ('dog','cat',1,'cat',9,'cat',8,'monkey')
print(f"The tuple is: {new_tuple}")

item = "cat"
print(f"The number of times {item} appears in the tuple is: {new_tuple.count(item)}")

The tuple is: ('dog', 'cat', 1, 'cat', 9, 'cat', 8, 'monkey')
The number of times cat appears in the tuple is: 3

In [8]:
#5) Find the index of the first occurence of element in a tuple

new_tuple = ('dog','cat',1,'cat',9,'cat',8,'monkey')
print(f"The tuple is: {new_tuple}")

item = "cat"
print(f"The item {item} appears first in the tuple at index: {new_tuple.index(item)}")

The tuple is: ('dog', 'cat', 1, 'cat', 9, 'cat', 8, 'monkey')
The item cat appears first in the tuple at index: 1

In [10]:
#6) Check if an element exists in tuple

new_tuple = ('dog','cat',1,'cat',9,'cat',8,'monkey')
item = input(f"Enter an item you want to find in the list: ")

if item in new_tuple:
    print(f"{item} is present in the tuple")
else:
    print(f"{item} is not present in the tuple")

Enter an item you want to find in the list:  dog

dog is present in the tuple

In [11]:
#7) Convert a tuple to a list

new_tuple = ('dog','cat',1,'cat',9,'cat',8,'monkey')
converted_list = list(new_tuple)
print(converted_list)

['dog', 'cat', 1, 'cat', 9, 'cat', 8, 'monkey']

In [12]:
#8) convert a list to a tuple

my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 5)

In [13]:
#9) Unpack the elements of a tuple to variables

my_tuple = (1, 2, 3)
a, b, c = my_tuple

print(a)  # Output: 1
print(b)  # Output: 2
print(c)  # Output: 3

1
2
3

In [14]:
#10) Create a tuple of even numbers from 1 to 10:

even_tuple = tuple(filter(lambda x: x%2==0, range(1,11)))
print(even_tuple)

(2, 4, 6, 8, 10)

In [15]:
#11) Create a tuple of odd numbers from 1 to 10:

odd_tuple = tuple(filter(lambda x: x%2!=0,range(1,11)))
print(odd_tuple)

(1, 3, 5, 7, 9)

In [16]:
#12) Concatenate two tuples

tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')

concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 'a', 'b', 'c')

In [17]:
#13) Repeat a tuple three times

new_tuple = ('dog','cat',1,'cat',9,'cat',8,'monkey')
print(new_tuple*3)

('dog', 'cat', 1, 'cat', 9, 'cat', 8, 'monkey', 'dog', 'cat', 1, 'cat', 9, 'cat', 8, 'monkey', 'dog', 'cat', 1, 'cat', 9, 'cat', 8, 'monkey')

In [18]:
#14) Check if a tuple is empty

my_tuple = ()

if len(my_tuple) == 0:
    print("The tuple is empty")
else:
    print("The tuple is not empty")

The tuple is empty

In [19]:
# 15) Create a nested tuple

nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

print(nested_tuple)

((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [20]:
# 16) Access the first element of a nested tuple

nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

first_element = nested_tuple[0]
print(first_element)

(1, 2, 3)

In [21]:
#17) Compare two tuples

tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

if tuple1 == tuple2:
    print("Tuples are equal")
else:
    print("Tuples are not equal")

Tuples are not equal

In [2]:
#18) Create a tuple with a single element

#To create a tuple with a single element we need to give a trailing comma at te end of the tuple , 
# otherwise it is considered as int

single_element_tuple = (42,)
print(type(single_element_tuple))

<class 'tuple'>

In [7]:
#19) Delete a tuple

tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')

#deleting tuple 2
del tuple2

try:
    print(tuple2)
except:
    print("tuple2 is deleted")

tuple2 is deleted

In [11]:
#20) Slice a tuple 

my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

sliced_tuple = my_tuple[2:5]

print("Original Tuple:", my_tuple)
print("Sliced Tuple:", sliced_tuple)

Original Tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9)
Sliced Tuple: (3, 4, 5)

In [12]:
#21) Find the maximum value in a tuple

my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

print(max(my_tuple))

9

In [13]:
#22) Find the minimum value in a tuple

my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

print(min(my_tuple))

1

In [14]:
#23) Convert a string to a tuple of characters

# String
my_string = "Hello"

char_tuple = tuple(my_string)

print("String:", my_string)
print("Tuple of Characters:", char_tuple)

String: Hello
Tuple of Characters: ('H', 'e', 'l', 'l', 'o')

In [18]:
#24) Convert a tuple of characters to a string

my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

string_char = ''.join(str(i) for i in my_tuple)
print("Tuple:",my_tuple)
print("String:",string_char)

Tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9)
String: 123456789

In [21]:
#25) Create a tuple from multiple data types

# Creating a tuple with multiple data types
mixed_tuple = ("apple", 42, 3.14, True)

# Display the tuple
print(mixed_tuple)

('apple', 42, 3.14, True)

In [20]:
#26) Check if two tuples are identical


tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

if tuple1 == tuple2:
    print("Tuples are equal")
else:
    print("Tuples are not equal")

Tuples are not equal

In [22]:
#27) Sort the elements of a tuple

num_list = [12,393,37,28,36,10,32,8,319,38,20]

print(sorted(num_list))

[8, 10, 12, 20, 28, 32, 36, 37, 38, 319, 393]

In [23]:
#28) Convert a tuple of integers to a tuple of strings

int_tuple = (1, 2, 3, 4, 5)

str_tuple = tuple(str(i) for i in int_tuple)

print("Tuple of Integers:", int_tuple)
print("Tuple of Strings:", str_tuple)

Tuple of Integers: (1, 2, 3, 4, 5)
Tuple of Strings: ('1', '2', '3', '4', '5')

In [24]:
#29) Convert a tuple of strings to tuple of integers

str_tuple = ('1', '2', '3', '4', '5')

int_tuple = tuple(int(s) for s in str_tuple)

print("Tuple of Strings:", str_tuple)
print("Tuple of Integers:", int_tuple)

Tuple of Strings: ('1', '2', '3', '4', '5')
Tuple of Integers: (1, 2, 3, 4, 5)

In [25]:
#30) Merge two tuples

tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')

merged_tuple = tuple1 + tuple2

print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Merged Tuple:", merged_tuple)

Tuple 1: (1, 2, 3)
Tuple 2: ('a', 'b', 'c')
Merged Tuple: (1, 2, 3, 'a', 'b', 'c')

In [26]:
#31) Flatten a nested tuple

def flatten_tuple(nested_tuple):
    flattened_list = []

    def flatten_recursive(subtuple):
        for element in subtuple:
            if isinstance(element, tuple):
                flatten_recursive(element)
            else:
                flattened_list.append(element)

    flatten_recursive(nested_tuple)
    return tuple(flattened_list)

# Nested tuple
nested_tuple = ((1, 2, (3, 4)), 5, (6, (7, 8)))

# Flatten the nested tuple
flattened_tuple = flatten_tuple(nested_tuple)

# Display the result
print("Nested Tuple:", nested_tuple)
print("Flattened Tuple:", flattened_tuple)

Nested Tuple: ((1, 2, (3, 4)), 5, (6, (7, 8)))
Flattened Tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [33]:
#32) Create a tuple of first 5 prime numbers

def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

first_5_primes = tuple(filter(is_prime, range(2, 20)))[:5]

print(first_5_primes)

(2, 3, 5, 7, 11)

In [30]:
#33) Check if a tuple is palindrome
def is_palindrome_tuple(input_tuple):
    return input_tuple == input_tuple[::-1]

# Example usage
palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)

# Check if the tuples are palindromes
print(is_palindrome_tuple(palindrome_tuple))  # True
print(is_palindrome_tuple(non_palindrome_tuple))  # False

True
False

In [37]:
#34) Create tuple of a squsre of numbers from 1 to 5

square_tuple = tuple(map(lambda x: x**2,range(1,6)))
print(square_tuple)

(1, 4, 9, 16, 25)

In [38]:
#35) Filter out all even numbers from a tuple

my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
even_tuple = tuple(filter(lambda x:x%2==0,my_tuple))
print(even_tuple)

(2, 4, 6, 8)

In [39]:
#36) Multiply all elements in a tuple by 2

my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
product_tuple = tuple(map(lambda x:x*2,my_tuple))
print(product_tuple)

(2, 4, 6, 8, 10, 12, 14, 16, 18)

In [43]:
#37) Create a tuple of random numbers

import random

random_tuple = tuple(random.randint(1,20) for _ in range(5))
print(random_tuple)

(14, 17, 3, 4, 10)

In [44]:
#38) Check if a tuple is sorted

def is_sorted(tup):
    return tup == tuple(sorted(tup))

example_tuple = (1, 2, 3, 4, 5)

if is_sorted(example_tuple):
    print("The tuple is sorted.")
else:
    print("The tuple is not sorted.")

The tuple is sorted.

In [45]:
#39) Rotate to the left by 'n' positions

my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
n = int(input(f"Enter the index less than {len(my_tuple)}"))
rotated_left_tuple = my_tuple[n:][::-1]+my_tuple[:n]
print(rotated_left_tuple)

Enter the index less than 9 4

(9, 8, 7, 6, 5, 1, 2, 3, 4)

In [46]:
#40) Rotate a tuple to right by 'n' position

my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
n = int(input(f"Enter the index less than {len(my_tuple)}"))
rotated_right_tuple = my_tuple[n:]+my_tuple[:n][::-1]
print(rotated_right_tuple)

Enter the index less than 9 3

(4, 5, 6, 7, 8, 9, 3, 2, 1)

In [47]:
#41) Create a tuple of first 5 Fibonacci numbers

def generate_fibonacci(n):
    fibonacci_sequence = [0, 1]
    while len(fibonacci_sequence) < n:
        next_number = fibonacci_sequence[-1] + fibonacci_sequence[-2]
        fibonacci_sequence.append(next_number)
    return tuple(fibonacci_sequence)

fibonacci_tuple = generate_fibonacci(5)

# Print the result
print("Fibonacci Tuple:", fibonacci_tuple)

Fibonacci Tuple: (0, 1, 1, 2, 3)

In [48]:
#42) Create a tuple from user input

# Take user input for elements of the tuple
user_input = input("Enter elements separated by commas: ")

# Convert the input string into a tuple
user_tuple = tuple(user_input.split(','))

# Display the resulting tuple
print("User Tuple:", user_tuple)

Enter elements separated by commas:  67,45,89,23,67,47

User Tuple: ('67', '45', '89', '23', '67', '47')

In [49]:
#43) Swap two elements in a tuple

original_tuple = (1, 2, 3, 4, 5)

index1 = 1
index2 = 3

temp_list = list(original_tuple)

temp_list[index1], temp_list[index2] = temp_list[index2], temp_list[index1]

swapped_tuple = tuple(temp_list)

print("Original Tuple:", original_tuple)
print("Swapped Tuple:", swapped_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Swapped Tuple: (1, 4, 3, 2, 5)

In [50]:
#44) Reverse the elements of a tuple

# Original tuple
original_tuple = (1, 2, 3, 4, 5)

# Reverse the tuple
reversed_tuple = original_tuple[::-1]

# Display the original and reversed tuples
print("Original Tuple:", original_tuple)
print("Reversed Tuple:", reversed_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Reversed Tuple: (5, 4, 3, 2, 1)

In [51]:
#45) Create a tuple of first 'n' powers of 2

n = 5

# Create a tuple of the first 'n' powers of 2
powers_of_2_tuple = tuple(2**i for i in range(1, n + 1))

# Display the tuple
print("Tuple of Powers of 2:", powers_of_2_tuple)

Tuple of Powers of 2: (2, 4, 8, 16, 32)

In [52]:
#46) Find the longest string in a tuple of strings

# Sample tuple of strings
string_tuple = ('apple', 'banana', 'kiwi', 'strawberry', 'blueberry')

# Find the longest string in the tuple
longest_string = max(string_tuple, key=len)

# Display the result
print("Longest String:", longest_string)

Longest String: strawberry

In [53]:
#47) Find the shortest string in a tuple of string

# Sample tuple of strings
string_tuple = ('apple', 'banana', 'kiwi', 'strawberry', 'blueberry')

# Find the longest string in the tuple
shortest_string = min(string_tuple, key=len)

# Display the result
print("Shortest String:", shortest_string)

Shortest String: kiwi

In [1]:
#48) Create a tuple of first 'n' triangular numbers

def triangular_number(n):
    return n * (n + 1) // 2

def generate_triangular_numbers(n):
    return tuple(triangular_number(i) for i in range(1, n + 1))

n = 5

triangular_tuple = generate_triangular_numbers(n)

# Display the result
print(f"Tuple of first {n} triangular numbers:", triangular_tuple)

Tuple of first 5 triangular numbers: (1, 3, 6, 10, 15)

In [2]:
#49) Check if a tuple contains another tuple in subsequence

def is_subsequence(subsequence, sequence):
    for i in range(len(sequence) - len(subsequence) + 1):
        # Check if the current subsequence matches the smaller tuple
        if sequence[i:i+len(subsequence)] == subsequence:
            return True
    return False

# Example
sequence = (1, 2, 3, 4, 5, 6, 7, 8, 9)
subsequence = (3, 4, 5)

result = is_subsequence(subsequence, sequence)

# Display the result
if result:
    print(f"The tuple {subsequence} is a subsequence of {sequence}.")
else:
    print(f"The tuple {subsequence} is not a subsequence of {sequence}.")

The tuple (3, 4, 5) is a subsequence of (1, 2, 3, 4, 5, 6, 7, 8, 9).

In [4]:
#50) Create a tuple of alternating 1's and 0's of length n

n = 8  # Replace with your desired length
alternating_tuple = tuple(i % 2 for i in range(n))

print(alternating_tuple)

(0, 1, 0, 1, 0, 1, 0, 1)

# Set Based Practiced Problem

In [1]:
#1) Create a set with integers from 1 to 5

new_set = set(range(1,5))

print(new_set)

{1, 2, 3, 4}

In [11]:
#2) Add an element to a set

new_set = {3,2,'banana',6,'apple',9,12}

new_set.add('orange') #add is used to add an elememt to the end of a set by sorting it
print(new_set)

{2, 3, 12, 6, 9, 'orange', 'banana', 'apple'}

In [10]:
#3) Remove an element from a set

new_set = {2, 3, 12, 6, 9, 'orange', 'banana', 'apple'}
new_set.remove('orange') #removes the desired item from the list

print(new_set)

{2, 3, 6, 9, 12, 'banana', 'apple'}

In [16]:
#4) Check if an element exists in a set

new_set = {2, 3, 12, 6, 9, 'orange', 'banana', 'apple'}
element = input("Enter an element you want to search: ")

if element.isnumeric() and int(element) in new_set:
        print(f"{element} is in new_set")
elif element in new_set:
        print(f"{element} in new_set")
else:
    print(f"{element} not in new_set")

Enter an element you want to search:  3

3 is in new_set

In [18]:
#5) Find the length of a set without using 'len()' function

count = 0
new_set = {2, 3, 12, 6, 9, 'orange', 'banana', 'apple'}
for i in new_set:
    count +=1
    
print("Length of the set is: ",count)

Length of the set is:  8

In [21]:
#6) Clear all elements from a set

new_set = {2, 3, 12, 6, 9, 'orange', 'banana', 'apple'}
new_set.clear() #clears all elements of all existing elements in a set
print(new_set)

set()

In [22]:
#7) Create a set of even numbers from 1 to 10

even_set = {i for i in range(1,11) if i%2==0}
print(even_set)

{2, 4, 6, 8, 10}

In [23]:
#8) Create a set of odd numbers from 1 to 10

odd_set = {i for i in range(1,11) if i%2!=0}
print(odd_set)

{1, 3, 5, 7, 9}

In [24]:
#9) Find the union of two sets

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

#using union method
union_result_method = set1.union(set2)
print("Union using union() method:", union_result_method)

# Using | operator to find union of two sets
union_result_operator = set1 | set2
print("Union using | operator:", union_result_operator)

Union using union() method: {1, 2, 3, 4, 5, 6, 7}
Union using | operator: {1, 2, 3, 4, 5, 6, 7}

In [25]:
#10) Find the intersection of two sets

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

#using intersection method
intersection_result_method = set1.intersection(set2)
print("Intersection using intersection() method:", intersection_result_method)

# Using & operator
intersection_result_operator = set1 & set2
print("Intersection using & operator:", intersection_result_operator)

Intersection using intersection() method: {3, 4, 5}
Intersection using & operator: {3, 4, 5}

In [26]:
#11) Find the difference between two sets

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

#using difference method
difference_result_method = set1.difference(set2)
print("Difference using difference() method:", difference_result_method)

# Using - operator
difference_result_operator = set1 - set2
print("Difference using - operator:", difference_result_operator)

Difference using difference() method: {1, 2}
Difference using - operator: {1, 2}

In [27]:
#12) Check if a set is a subset of another set

set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

is_subset_method = set1.issubset(set2)
print("Using issubset() method:", is_subset_method)

# Using <= operator
is_subset_operator = set1 <= set2
print("Using <= operator:", is_subset_operator)

Using issubset() method: True
Using <= operator: True

In [28]:
#13) Check if a set is a superset of another set

set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

is_superset_method = set1.issuperset(set2)
print("Using issuperset() method:", is_superset_method)

# Using >= operator
is_superset_operator = set1 >= set2
print("Using >= operator:", is_superset_operator)

Using issuperset() method: True
Using >= operator: True

In [29]:
#14) Create a set from a list

my_list = [1, 2, 3, 4, 5]
my_set = set(my_list)

print(my_set)

{1, 2, 3, 4, 5}

In [30]:
#15) Convert a set to a list

set1 = {1, 2, 3, 4, 5}
set1_list = list(set1)
print(set1_list)

[1, 2, 3, 4, 5]

In [50]:
#16) Remove a random element from a set

import random

# A set containing elements of different data types
set1 = {1, "Hello", 38, 44.45, "Apples", False}

# Choose a random element
element = random.choice(list(set1))

print("The element chosen randomly:", element)

# Remove the chosen element
set1.remove(element)

print("Updated set:", set1)

The element chosen randomly: 38
Updated set: {'Hello', 1, False, 'Apples', 44.45}

In [51]:
#17) Pop an element from a set

# Create a set
my_set = {1, 2, 3, 4, 5}

# Pop an element
popped_element = my_set.pop()

print("Popped element:", popped_element)
print("Updated set:", my_set)

Popped element: 1
Updated set: {2, 3, 4, 5}

In [52]:
#18) Check if two sets have no elements in common

# Create two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the sets have no elements in common
are_disjoint = set1.isdisjoint(set2)

# Display the result
if are_disjoint:
    print("The sets have no elements in common.")
else:
    print("The sets have at least one common element.")

The sets have no elements in common.

In [53]:
#19) Find the symmetric difference between two sets

# Create two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the sets have no elements in common
are_disjoint = set1.isdisjoint(set2)

# Display the result
if are_disjoint:
    print("The sets have no elements in common.")
else:
    print("The sets have at least one common element.")

The sets have no elements in common.

In [54]:
#20) Update a set with elements from another set

set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Update set1 with elements from set2
set1.update(set2)

print("Updated Set:", set1)

Updated Set: {1, 2, 3, 4, 5}

In [55]:
#21) Create a set of first 5 prime numbers

def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create a set of the first 5 prime numbers
prime_set = {num for num in range(2, 20) if is_prime(num)}

# Display the set of prime numbers
print("Set of First 5 Prime Numbers:", prime_set)

Set of First 5 Prime Numbers: {2, 3, 5, 7, 11, 13, 17, 19}

In [56]:
#22) Check if two sets are identical

set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [58]:
#23) Create a frozen set

my_set = {1, 2, 3, 4, 5}

# Create a frozen set from the regular set
my_frozen_set = frozenset(my_set)

# Display the frozen set
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

In [59]:
#24) Check if a set is disjoint with another set

# Create two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the sets are disjoint
disjoint_status = set1.isdisjoint(set2)

# Display the result
if disjoint_status:
    print("The sets are disjoint.")
else:
    print("The sets have common elements.")

The sets are disjoint.

In [1]:
#25) Create a set of square numbers from 1 to 5

squares_set = {i**2 for i in range(1, 6)}

print(squares_set)

{1, 4, 9, 16, 25}

In [2]:
#26) Filter out all even numbers from a set

original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

filtered_set = {x for x in original_set if x % 2 != 0}

# Print the filtered set
print(filtered_set)

{1, 3, 5, 7, 9}

In [3]:
#27) Multiply all elements in a set by 2

original_set = {1, 2, 3, 4, 5}

result_set = set(x * 2 for x in original_set)

# Print the result set
print(result_set)

{2, 4, 6, 8, 10}

In [4]:
#28) Create a set of random numbers

import random

random_set = set(random.sample(range(1, 11), 5))

# Print the random set
print(random_set)

{6, 7, 8, 9, 10}

In [7]:
#29) Check if a set is empty

# Method 1: Using len()
my_set = set()
if len(my_set) == 0:
    print("The set is empty.")

# Method 2: Using boolean expression
if not my_set:
    print("The set is empty.")

The set is empty.
The set is empty.

In [9]:
#30) Create a nested set

# Create a nested set using frozensets
nested_set = {frozenset({1, 2, 3}), frozenset({'a', 'b', 'c'})}

# Display the nested set
print(nested_set)

{frozenset({1, 2, 3}), frozenset({'c', 'a', 'b'})}

In [10]:
#31) Remove an element from a set using the discard method

# Create a set
my_set = {1, 2, 3, 4, 5}

# Remove element 3 using discard
my_set.discard(3)

# Display the updated set
print(my_set)

{1, 2, 4, 5}

In [11]:
#32) Compare two sets

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Check if set1 is equal to set2
if set1 == set2:
    print("Both sets are equal.")
else:
    print("Sets are not equal.")

# Check if set1 is a subset of set2
if set1.issubset(set2):
    print("Set1 is a subset of set2.")
else:
    print("Set1 is not a subset of set2.")

# Check if set2 is a subset of set1
if set2.issubset(set1):
    print("Set2 is a subset of set1.")
else:
    print("Set2 is not a subset of set1.")

Sets are not equal.
Set1 is not a subset of set2.
Set2 is not a subset of set1.

In [12]:
#33) Create a set from a string

string_value = "hello"
set_from_string = set(string_value)

# Print the resulting set
print(set_from_string)

{'h', 'o', 'e', 'l'}

In [13]:
#34) Convert a set of strings to a set of integers

set_of_strings = {'1', '2', '3', '4', '5'}

set_of_integers = {int(value) for value in set_of_strings}

# Print the resulting set of integers
print(set_of_integers)

{1, 2, 3, 4, 5}

In [14]:
#35) convert a set of integers to a set of strings

set_of_integers = {1, 2, 3, 4, 5}

# Convert the set of integers to a set of strings
set_of_strings = {str(value) for value in set_of_integers}

# Print the resulting set of strings
print(set_of_strings)

{'2', '1', '3', '5', '4'}

In [15]:
#36) Create a set from a tuple

my_tuple = (1, 2, 3, 4, 5)

# Convert the tuple to a set
my_set = set(my_tuple)

# Print the resulting set
print(my_set)

{1, 2, 3, 4, 5}

In [16]:
#37) Convert a set to a tuple

my_set = {1, 2, 3, 4, 5}

# Convert the set to a tuple
my_tuple = tuple(my_set)

# Print the resulting tuple
print(my_tuple)

(1, 2, 3, 4, 5)

In [17]:
#38) Find the maximum value in a set

my_set = {10, 5, 8, 20, 15}

# Find the maximum value in the set
max_value = max(my_set)

# Print the maximum value
print("Maximum value in the set:", max_value)

Maximum value in the set: 20

In [18]:
#39) Find the minimum value in a set

my_set = {10, 5, 8, 20, 15}

# Find the minimum value in the set
min_value = min(my_set)

# Print the minimum value
print("Minimum value in the set:", min_value)

Minimum value in the set: 5

In [19]:
#40) Create a set from user input

user_input = input("Enter elements separated by spaces: ")
elements = user_input.split()

# Create a set from the elements
my_set = set(elements)

# Print the resulting set
print("Set created from user input:", my_set)

Enter elements separated by spaces:  pretty woman where are you going to?

Set created from user input: {'you', 'to?', 'are', 'woman', 'pretty', 'where', 'going'}

In [20]:
#41) Check if the intersection of two set is empty

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Check if the intersection is empty
if set1.isdisjoint(set2):
    print("The intersection is empty.")
else:
    print("The intersection is not empty.")

The intersection is not empty.

In [21]:
#42) Create a set of first 5 Fibonacci numbers

def generate_fibonacci(n):
    fibonacci_set = set()
    a, b = 0, 1
    for _ in range(n):
        fibonacci_set.add(a)
        a, b = b, a + b
    return fibonacci_set

# Create a set of the first 5 Fibonacci numbers
fibonacci_set = generate_fibonacci(5)

# Print the set
print(f"Fibonacci Set: {fibonacci_set}")

Fibonacci Set: {0, 1, 2, 3}

In [22]:
#43) Remove duplicates from a list using sets

original_list = ['banana', 'mango', 'coconut', 344, 3488, 'fhsuidh', 'coconut', 'dfojfo', 'coconut', 37937, 34898]

# Remove duplicates using set
unique_list = list(set(original_list))

# Print the unique list
print("List after removing duplicates:", unique_list)

List after removing duplicates: [3488, 'dfojfo', 'banana', 'fhsuidh', 'mango', 37937, 34898, 344, 'coconut']

In [23]:
#44) Check if two sets have same elements, regardless of the count

set1 = {1, 2, 3, 4, 4, 5}
set2 = {5, 4, 3, 2, 1}

# Check if sets have the same elements regardless of count
if set1 == set2:
    print("Both sets have the same elements regardless of count.")
else:
    print("Sets have different elements or different counts.")

Both sets have the same elements regardless of count.

In [24]:
#45) Create a set of first 'n' powers of 2

def powers_of_2(n):
    return {2 ** i for i in range(n)}

# Specify the value of 'n'
n = 5

# Create a set of the first 'n' powers of 2
powers_set = powers_of_2(n)

# Display the set
print(powers_set)

{1, 2, 4, 8, 16}

In [27]:
#46) Find the common elements between a set and a list

my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

# Find common elements
common_elements = set(my_list).intersection(my_set)

# Display the common elements
print("Common elements:", common_elements)

Common elements: {3, 4, 5}

In [28]:
#47) Create a set of first 'n' triangular numbers

def triangular_number(n):
    return (n * (n + 1)) // 2

# Number of triangular numbers you want to generate
n = 5

# Create a set of first 'n' triangular numbers
triangular_set = {triangular_number(i) for i in range(1, n + 1)}

# Display the set of triangular numbers
print("Set of first", n, "triangular numbers:", triangular_set)

Set of first 5 triangular numbers: {1, 3, 6, 10, 15}

In [29]:
#48) Check if a set contains another subset

main_set = {1, 2, 3, 4, 5, 6, 7, 8, 9}

# Define a subset
subset = {2, 4, 6}

# Check if the subset is present in the main set
if subset.issubset(main_set):
    print("The subset is present in the main set.")
else:
    print("The subset is not present in the main set.")

The subset is present in the main set.

In [30]:
#49) Create a set of alternating 1's and 0's of length 'n'

n = 10

alternating_set = set()

for i in range(n):
    alternating_set.add(i % 2)

print(alternating_set)

{0, 1}

In [31]:
#50) Merge multiple sets into one

set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Using union method
merged_set = set1.union(set2, set3)
print("Merged Set (using union method):", merged_set)

# Using | (pipe) operator
merged_set_pipe = set1 | set2 | set3
print("Merged Set (using | operator):", merged_set_pipe)

Merged Set (using union method): {1, 2, 3, 4, 5, 6, 7}
Merged Set (using | operator): {1, 2, 3, 4, 5, 6, 7}